<header>
    <a href="https://www.us.sogeti.com/">
        <img src="https://www.us.sogeti.com/Static/img/sogeti-logo.svg" alt="Sogeti Logo" width="400" height="400" title="SogetiLogo" />
    </a>
    <h1>Welcome to Sogeti .</h1>
    <h4>To apply for a position please sign in.</h4>
    <p>Please enter your name and password.</p>
</header>


<div class="container">
    <label for="usename"><b>Username:</b></label>
    <input type="text" placeholder="Enter Username Here" name="usename" size="50" required>



</div>
<div class="container">


    <label for="pass"><b>Password:</b></label>
    <input type="password" placeholder="Enter Password Here" name="pass" size="50" required>



</div>
<div class="container">

    <button type="submit">Login</button>
    <label>
        <input type="checkbox" checked="checked" name="remember"> Remember me
    </label>

</div>
<a href="url">Forgot Password?</a>
<!--<p>If you do not have an account you must create an account. </p>
<button type="CA">Create Account</button>-->
<p>          </p>
<a href="url">Create Account</a>


<!--Bellow information will appear on a separate page -->


<header>

    <h1>Bellow information will be on a separate page.</h1>

</header>

<div class="container">
    <a href="https://www.us.sogeti.com/">
        <img src="https://career.us.sogeti.com/jobs/images/Resume.png" alt="Resumepic" width="50" height="50" title="ResumeLogo" />
    </a>
    <label for="ResumeLogo"><font size="5">Profile</font></label>
    <p>          </p>


</div>
<div class="container">
    <font color="blue">*</font>
    <label for="resumebutton"><b>Resume:</b></label>
    <button type="submit" id="resumebutton">Choose File </button>
    <label for="resumebutton">no file chosen</label>


</div>
<div class="container">
    <font color="blue">*</font>

    <label for="firstName"><b>First Name:</b></label>
    <input type="text" placeholder="" name="firstName" size="40" required>



</div>
<div class="container">
    <font color="blue">*</font>

    <label for="lastName"><b>Last Name:</b></label>
    <input type="text" placeholder="" name="lastName" size="40" required>



</div>
<div class="container">
    <label for="linkedIn"><b>LinkedIn Profile:</b></label>
    <input type="text" placeholder="" name="linkedIn" size="50">



</div>
<div class="container">
    <font color="blue">*</font>

    <label for="email"><b>Email:</b></label>
    <input type="text" placeholder="" name="email" size="50" required>



</div>
<div class="container">
    <font color="blue">*</font>

    <label for="password"><b>Password:</b></label>
    <input type="password" placeholder="" name="password" size="35" required>



</div>
<div class="container">
    <font color="blue">*</font>

    <label for="confirmpass"><b>Username:</b></label>
    <input type="password" placeholder="" name="confirmpass" size="35" required>



</div>
<div class="container">
    <font color="blue">*</font>

    <label for="city"><b>Current City:</b></label>
    <input type="text" placeholder="" name="city" size="30" required>



</div>
<div class="container">
    <font color="blue">*</font>

    <label for="zip"><b>Zip:</b></label>
    <input type="text" placeholder="" name="zip" size="25" required>



</div>
<div class="container">
    <font color="blue">*</font>

    <label for="sponsor">Visa Sponsorship Required?</label>
    <select id="sponsor">
        <option value="blank"> </option>
        <option value="yes">Yes</option>
        <option value="no">No</option>
    </select>

</div>
<a href="url">Read Terms and Conditions</a>
<p>               </p>
<input type="checkbox" id="accept" name="accept" />
<label for="accept"> I accept Terms and Conditions</label>
<p>      </p>
<button type="submit" id="createbutton">Create Profile </button>
