@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <h1>VERSION 0.0 Just to get things started.</h1>
        <p>Due Date: Before Sprint Ret 2</p>
        <p>The time on the server is @DateTime.Now</p>

    </div>
